* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-image: url("../images/backcover.svg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: auto;
	height: 95vh;
	font-family: "Roboto", sans-serif;
}

.main-div {
	display: flex;
	flex-direction: column;

	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.main-div nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3rem 0;
}

.nav-items {
	list-style-type: none;
	flex: 0 0 40%;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-item {
	display: inline-block;
	font-size: 1.2rem;
	color: #3e4794;
}

.signin-btn {
	color: #fff;
	border: none;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	background-image: linear-gradient(to right, #965cf2, #ff8adc);
}

.intro-section {
	display: flex;
}

.left-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 45vh;
	flex: 0 0 30%;
	margin: 3rem 0;
}

.left-section h1 {
	font-size: 5rem;
	color: #3e4794;
	margin-bottom: 5rem;
}

.left-section h4 {
	color: #3e4794;
	margin-bottom: 5rem;
	font-size: 1.2rem;
	font-weight: lighter;
}

.learn-more-btn {
	display: flex;
	align-self: flex-start;
	color: #fff;
	border: none;
	padding: 1rem 1.5rem;
	border-radius: 2rem;
	background-image: linear-gradient(to right, #965cf2, #ff8adc);
}

.imgs-div {
	display: flex;
}
